body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

body {
  background-color: #f1f1f1;
  display: flex;
}

.list-crawl {
  width: 100%;
  color: #fff;
  display: none;
  margin: 16px 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

.crawl-item {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  margin-bottom: 24px;
}

.crawl-store {
  width: calc(100% - 240px);
  margin-right: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
}

.crawl-download {
  margin-left: 16px;
  cursor: pointer;
  color: green;
  font-weight: 600;
}

.crawl-date {
  margin-left: 16px;
}

.content-right {
  width: 50%;
  margin-left: 32px;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 16px 32px;
  border-radius: 20px;
  box-sizing: border-box;
}

.menu-item {
  margin-right: 16px;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  color: #fff;
}

#progress {
  background-color: #0fca1d;
}

#history {
  background-color: #ff6a00;
}

.form {
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 35%;
  align-self: baseline;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 40px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-bottom: 20px;
}

.ic2 {
  margin-bottom: 20px;
}

.input {
  background-color: #f7f7f7;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

/* .placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  top: 10px;
} */

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  height: 40px;
  outline: 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.submit:active {
  background-color: #06b;
}

.submit[disabled] {
  background-color: red;
}

#lable-file {
  background-color: indigo;
  color: white;
  padding: 0.5rem 16px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: 600;
}

#file-chosen {
  margin-left: 0.5rem;
  font-family: sans-serif;
}

#modal-progress {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000036;
  top: 0;
  left: 0;
}

#modal-progress div {
  background-color: #fff;
  padding: 32px;
  border-radius: 10px;
  position: relative;
}

#modal-progress span {
  font-weight: 600;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-weight: 400 !important;
}
